* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    box-sizing: border-box;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-image: url(/images/bg_image.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 2.8rem;
    color: rgb(245, 245, 245);
}

.hamburger {
    position: relative;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: whitesmoke;
    z-index: 1000;
}

.dropdown a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
}

.dropdown a:hover {
    background-color: #eee;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_body {
    display: flex;
    max-height: 70vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    width: 30vw;
    flex: 0 0 auto;
}

.form_body input,
select,
textarea {
    color: grey;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 0.3rem;
    box-shadow: 12px gray;
}

input[type="file"] {
    border: none;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="submit"] {
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: rgb(28, 41, 65);
    color: white;
    border: 0 solid;
    border-radius: 2rem;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background: #0056b3;
}